
.chats-container {
    position: absolute;
    top: 95px;

    width: 100%;
    height: calc(100% - 130px - 50px);

    & > * {
        text-decoration: none;
    }

    overflow: auto;

    .chat-container{

        p {
            margin: 20px 0;
            font-family: 'Roboto Medium', sans-serif;
            font-size: 14px;
            color: var(--light);
        }
    }
}