.bar-social {
    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 70px;
     
    background-color: var(--search);
    
    span {
      padding: 0 10px;
      
      font-size: 40px;
      color: var(--light);  
    }
  }