.header-logo {
    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    position: fixed;
    top: 0;
    
    img {
      width: 150px;
      height: 46px;
      
      position: relative;
      top: 25px;
    }
  }