.header-text-icon {
    height: 70px;
    width: 100%;
    position: relative;
    
    padding-bottom: 10px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    position: fixed;
    top: 0;
    
    background-color: var(--light);
    
    p {
      margin: 0;
      font-family: 'Cardenio Modern', sans-serif;
      font-size: 25px;
      color: var(--dark);
    }
    
    span {
      position: absolute;
      bottom: 15px;
      
      margin: 0;
      font-size: 25px;

      color: var(--dark);

      cursor: pointer;
    }
  }

  .icon-right {
      right: 20px;
  }

  .icon-left {
      left: 20px;
  }