.navigation {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    bottom: 0;

    background-color: var(--light);

    a {
        text-decoration: none;

        &:visited {
            color: var(--dark);
        }
    }

    span {
        font-size: 25px;
        color: var(--dark);
    }
}
