.tag {
    margin-left: 0;
    margin-right: 5px;
    
    padding: 3px 15px;
    
    border-radius: 20px;
    
    background-color: var(--light);
    
    font-family: 'Roboto Light', sans-serif;
    font-size: 12px;
    color: var(--dark);
}