.container-chat{
    width: 100%;
    height: calc(100% - 80px);

    position: absolute;
    top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: bottom;
    align-self: flex-end;

    .chat-messages{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        list-style: none;
        margin: 15px 10px;
        color: var(--dark);

        span{
            width: auto;
            background-color: var(--light);
            border: none;
            border-radius: 2px;
            margin-bottom: 0px;
            padding: 5px;
            position: absolute;
            bottom: 80px;
        }
    }

    .chat-bar{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: fixed;
        bottom: 0;

        .chat-input{
            width: 90%;
            bottom: 0;
        }

        .send-icon{
            color: var(--light);
            width: 25px;
            height: 25px;
            bottom: 0;
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}