.button-container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.tags-container-search{
    width: calc(100% - 40px);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 10px;
    margin-bottom: 30px;
}

#warnings{
    font-size: 10px;
    color: red;
    text-align: center;
    padding-bottom: 15px;
}