.posts-container-search-result {
    position: absolute;
    top: 80px;

    width: 100%;
    height: calc(100% - 80px - 50px);

    & > * {
        text-decoration: none;
    }

    overflow: auto;

    #warnings{
        font-size: 10px;
        color: red;
        text-align: center;
        padding-bottom: 15px;
    }
        
    .button-container-search-result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        .button-again{
            margin-bottom: 10px;
        }
    }
    
}


