.posts-container-search-result {
    position: absolute;
    top: 80px;

    width: 100%;
    height: calc(100% - 80px - 50px);

    & > * {
        text-decoration: none;
    }

    overflow: auto;
}

#warnings{
    color: var(--light);
    text-align: center;
}
    
.button-container-search-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;

    .button-again{
        margin-bottom: 10px;
    }
}

