#warnings{
    color: var(--light);
    text-align: center;
}

.posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 50px;
    
    
        .button-again{
            margin-bottom: 10px;
        }
    }
}
