.small-button {
    min-width: 50px;
    
    margin-top: 30px;
    padding: 3px 20px;
    
    border: none;
    border-radius: 2px;
    
    font-family: 'Roboto Light', sans-serif;
    font-size: 15px;
    color: var(--dark);

    background-color: var(--light);
}