.container-new-post {
    position: absolute;
    top: 80px;

    height: calc(100% - 120px);

    padding: 20px;
}

.tags-container {
    width: calc(100% - 40px);

    display: none;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 10px;
    margin-bottom: 30px;
}

.tags-container > * {
    margin-bottom: 10px;
}

.button-container {
    position: absolute;
    bottom: 30px;

    width: calc(100% - 40px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-container {
    margin-bottom: 20px;
}
