.container-new-post {
    position: absolute;
    top: 80px;

    height: calc(100% - 120px);

    padding: 20px;
}

.tags-container {
    width: calc(100% - 40px);

    display: none;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 10px;
    margin-bottom: 30px;
}

.tags-container > * {
    margin-bottom: 10px;
}

.button-container {
    position: absolute;
    bottom: 50px;

    width: calc(100% - 40px);

    display:flex;
    justify-content: center;
    align-items: center;
}

#validation{
    font-size: 10px;
    color: red;
    text-align: center;
    padding-bottom: 15px;
}